  /* Sets background color for html document */

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(45, 45, 83, 0.8);
    --color-green: #37af65;
}

  /* : :before and : :after pseudo elements insert border-box before and after every element */

*,
*::before,
*::after {
    box-sizing: border-box;
}

  /* form */

#survey-form {
    text-align: center;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    width: 100%;
}

  /* form */

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

#number-label,
#number {
    width: 95%;
    margin-left: 2.5%;
}

#name-label,
#name {
    width: 95%;
    margin-left: 2.5%
}

#email-label,
#email {
    width: 95%;
    margin-left: 2.5%
}

#element,
#dropdown {
    width: 95%;
    margin-left: 2.5%
}

#body {
    border-style: solid;
    border-color: purple;
    border-radius: 10px;
    margin: auto;
}

#submit {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: rgb(158, 84, 146);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

#description {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-size: 19px;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2.5%;
}

h1 p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

  /* form */

form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

@media (min-width: 480px) {
form {
    padding: 2.5rem;
    }
}

.form-group {
    margin: 1 auto 1.25rem auto;
    padding: 0.25rem;
    margin-left: 2.5%;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focuc {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-checkbox,
.input-radio {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    margin-left: -5.6%;
}

.submit-button {
    display: block;
    margin-right: 2.5rem;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    margin-left: -2.8%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

  /* mobile friendly alternative to using background-attachment: fixed */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg,
            rgba(65, 79, 157, 0.8),
            rgba(136, 136, 206, 0.7)),
    url(https://c4.wallpaperflare.com/wallpaper/386/333/71/summoner-s-rift-teamfight-tactics-tft-yasuo-league-of-legends-yasuo-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment {
    margin-left: -3.2%;
}